*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:white;
    --secondary-color:black;
    --text-color:rgb(0, 62, 75);
    --secondaryText-color:rgb(0, 255, 247);
    --gray-color:rgb(97, 91, 91);
    --design-color:#20c997;
    --para-color:#4c4d4d;
}
.navbars {
    position: fixed;
    background-color: var(--secondary-color);
    height: 668px;
    width: 260px;
}
.image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.style {
    border: solid 4px --gray-color;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    text-align: center;
    margin-top: 35px;
    margin-left: 48px;
}
h2#userName {
    color: var(--primary-color);
    text-align: center;
    margin-top: 4px;
}
.Lists > li {
    list-style: none;
    color: var(--primary-color);
    padding-top: 21px;
    font-size: 20px;
    text-align: center;
}
.Lists{
    margin-top: 15px;
}
li{
    list-style: none;
}
.userFooter > i {
    padding-left: 37px;
    color: var(--primary-color);
}
.userFooter {
    margin-top: 50px;
}
.parentBody{
    display: flex;
}
.subBody{
    margin-left: 260px;
}
.Iam {
    filter: brightness(40%);
    background-image: url(./Images/wp6885433-keerthi-suresh-landscape-hd-wallpapers.jpg);
    height: 668px;
    width: 1091px;
    background-size: contain;
}
.contents {
    margin-left: 30px;
}
.text{
    filter: brightness(100%);
    color: var(--primary-color);
}
.mainText{
    position: relative;
}
.texts {
    color: var(--primary-color);
    position: absolute;
    top: 310px;
    text-align: center;
    font-size: 40px;
    left: 220px;
}
.KMMParent{
    display: flex;
}
.kmm {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    color: var(--secondaryText-color);
}
.MyDEv {
    color:var(--text-color);
}
.myContents {
    width: 650px;
}
.myContents > p {
    line-height: 25px;
    margin-top: 18px;
}
.myDetails{
    display: flex;
}
.key > h2 {
    line-height: 50px;
    margin-left: 50px;
    color: var(--text-color);
}
.value > h2 {
    color: var(--text-color);
    line-height: 50px;
    margin-left: 7px;
}
.hight{
    color: var(--secondaryText-color);
}
.college {
    border: solid 2px var(--gray-color);
}
.EandM {
    display: flex;
    gap: 20px;
}

h4.clgYear {
    color: var(--primary-color);
    background-color: var(--design-color);
    width: 110px;
    text-align: center;
    padding: 7px 0px;
    border-radius: 9px;
    margin-top: 15px;
    margin-left: 20px;
}
h3.deg {
    margin-left: 20px;
    margin-top: 20px;
}
h4.INSTname {
    margin-left: 20px;
    margin-top: 10px;
    color: var(--design-color);
}
.story {
    margin-left: 20px;
    margin-top: 10px;
    line-height: 24px;
    margin-bottom: 15px;
    color: var(--para-color);
}
.school.college {
    margin-top: 40px;
}
h4.myEdu {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.MySkills > ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
}
.MySkills > li {
    color: var(--text-color);
}











.ProjectLinks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    text-decoration: underline;
}

.getIn {
    display: flex;
    gap: 38px;
}
.adres {
    color: var(--para-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
}
.alignment{
    width: 24%;
}
.lastFoot > i{
    margin: 0;
    color: var(--para-color);
}
p.address {
    font-size: 30px;
    font-weight: bold;
}
input {
    padding: 9px;
    font-size: 22px;
    display: flex;
    width: 375px;
}
p.address {
    font-size: 30px;
    font-weight: bold;
    color: var(--para-color);
}
.input {
    display: flex;
    gap: 25px;
}
.getData {
    width: 738px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea.message {
    height: 170px;
    margin-top: 15px;
    width: 739px;
    font-size: 22px;
    padding-left: 9px;
    padding-top: 9px;
}
.submit {
    width: 180px;
    height: 54px;
    margin-left: 310px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
    background-color: var(--design-color);
    color: var(--primary-color);
}

iframe {
    margin-left: 170px;
    width: 70%;
    height: 210px;
    margin-top: 20px;
    border-radius: 13px;
}